button{
    background-color: "rbg(200,200,200)";
    color: black;
    font-weight: bold;
}
.inputBox{
    margin: .2em;
    padding: 1em;
    width: 80%;
}
/* textarea{
    margin: .2em;
    padding: 1em;
    width: 80%;
} */